.sidebar, .wrapper
{
   box-sizing: unset;
   width: 93%;
   display: block;
   float: none;
   position: unset;
   position: relative;
   top: 64px;
   max-width: unset;
}
.content { background-color: rgba(0,0,0,0.5); }
.title { display: none; }
.mobile-topbar
{
   display: block;
   position: fixed;
   left: 0px;
   top: 0px;
}