.sw { font-family:verdana,arial,helvetica,sans-serif; font-size:10px; color:white }
.s { font-family:verdana,arial,helvetica,sans-serif; font-size:10px }
.t5 { font-family:arial,helvetica,sans-serif; font-size:5px; line-height: 5px}
.lbuf10 { margin-left:10px }
.oh { font-family:verdana, arial,helvetica,sans-serif; font-size = 10px; color:black }
.od { font-family:verdana, arial,helvetica,sans-serif; font-size = 10px; color:666666 }
.sb { font-family:verdana,arial,helvetica,sans-serif; font-size:10px; color:black }
.inf { font-family:verdana,arial,helvetica,sans-serif; font-size:12px; color:666666 }
.lbuf6 { margin-left:6px }