body	/* Default style. This CSS file only includes what all pages will use. */
{
	font-family: 'xpinball', 'trebuchet ms', 'trebuchet', sans-serif;
	color: #fdb;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

a, a:hover, a:focus, a:active, a:visited { color: chartreuse; }