body	/* Default style */
{
	background-color: #3c4c6d;
	color: #fdb;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.wrapper
{
	width: 99%;
	padding: 1em 1em 1em 1em;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgba(255,255,255,0.75);
	border-radius: 1em;
}