body	/* Default style */
{
	font-family: 'xpinball', 'trebuchet ms', 'trebuchet', sans-serif;
	background-color: #3c4c6d;
	color: #fdb;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.sidebar
{
	box-sizing: border-box;
	display: inline-block;
	float: left;
	width: 50%;
	font-family: serif;
}

.wrapper, .footer
{
	box-sizing: border-box;
	display: inline-block;
	float: right;
	width: 50%;
	padding: 1em 1em 1em 1em;
}

.wrapper
{
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgba(255,255,255,0.75);
	border-radius: 1em;
}

.footer
{
	background-color: rgba(0,0,0,0.34);
	color: white;
	border-radius: 5px;
}