body
{
	background-color: black;
	background-image: url('https://i.imgur.com/C6zxDLo.png');
	background-size: cover;
	background-position: center;
	color: white;
}

table { text-align: center; }

.bubble
{
	font-family: 'Londrina Solid', XPinball, cursive;
	background-image: url('https://i.imgur.com/N8ZyuRH.png');
	background-size: cover;
	filter: drop-shadow(0 0 0.25em rgba(255,255,255,0.75));
	box-shadow: inset 0 0 2.33em 3px rgba(248, 248, 255, 0.75);
	width: 5em;
	height: 5em;
	font-size: xx-large;
	vertical-align: middle;
	display: table-cell;
	border-radius: 100%;
}
.bubble[id="hashrate"] { background-position: left; }
.bubble[id="accepted"] { background-position: center; }
.bubble[id="total"] { background-position: right; }

.credit
{
	position: absolute;
	right: 2.5px;
	bottom: 2.5px;
}