a { transition: color 0.25s; text-shadow: 1.5px 1.5px 0.5px #248; }
a, a:focus, a:active, a:visited { color: #adf; }
a:hover { color: #d5eeff; }

/* Scrollbar customization - time to remove modern Windows' sorta-ugly scrollbars! */
::-webkit-scrollbar { width: 15px; background-color: #147; }
::-webkit-scrollbar-track, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner { display: none; }
::-webkit-scrollbar-thumb { border-radius: 1em; background-color: #ca8; }

.logo-container, .logo-text, .navigation
{
	display: inline-block;
	position: relative;
	left: 1px;
}
.logo-container
{
	border-radius: 5px;
    background-color: #c52;
    padding: 0 7px;
    border: 3px solid;
    border-top-color: #e74;
    border-left-color: #e74;
    border-right-color: #a30;
    border-bottom-color: #a30;
}
.logo-link, .logo-link:hover, .logo-link:active, .logo-link:focus, .logo-link:visited
{
	font-family: 'Londrina Solid', XPinball, cursive;
	text-decoration: none;
	font-weight: 500;
	font-size: 39pt;
	color: #fc8;
	cursor: default;
}
.navigation
{
    font-family: 'Roboto Slab', serif;
    font-size: 26pt;
	text-decoration: none;
	border: 1px dashed rgba(170, 221, 255,0.5);
	background-color: rgba(170, 221, 255,0.13);
	padding: 5.5px;
    vertical-align: super;
}
.navbar
{
	position: fixed;
	top: 3px;
	left: 3px;
    background-color: #25c;
    border: 3px solid;
    border-top-color: #47e;
    border-left-color: #47e;
    border-right-color: #03a;
    border-bottom-color: #03a;
	vertical-align: top;
	margin: -3px;
	width: calc(100% - 6px);
	z-index: 100;
}
/* Header labels for normal screens */
#nav1::after
{
	content: "About";
}
#nav2::after
{
	content: "Links";
}
#nav3::after
{
	content: "Games";
}
#nav4::after
{
	content: "Support";
}

@media screen and (max-width: 639px)	/* Smaller screens and mobile */
{
	.logo-text { display: none; }	/* Hide the website title. */
	.logo-container { border-radius: 99em; padding: 0; }
	.navigation	/* Change each navigation link into an icon. */
	{
		font-family: WebIcons;
		font-size: 28pt;
		vertical-align: text-bottom;
	}
	.header { font-size: 36pt; }
	#nav1::after
	{
		content: "I";
	}
	#nav2::after
	{
		content: "L";
	}
	#nav3::after
	{
		content: "G";
	}
	#nav4::after
	{
		content: "S";
	}
}

@media print	/* If printing, make the webpage look okay on white paper! */
{
	.navbar { display: none; }	/* Hide the navbar if printing. */
}