/* This CSS file is for the iframe-powered page content only. */
body
{
	color: #fa7;
	text-shadow: -0.75px -0.75px 0px antiquewhite;
	filter: drop-shadow(1px 1px 1px #842);
}
h1, h2, h3, h4, h5, h6
{
	padding: 0.25em 0;
	margin: 0 0;
}
p
{
	margin-top: 0.75em;
	margin-bottom: 0em;
}

img.inline-left
{
	opacity: 0.75;
	border: 1px solid rgba(128,128,128,0.5);
	box-shadow: -2px -2px 0 white;
	filter: drop-shadow(2px 2px 0 black);
	float: left;
	position: relative;
	left: -4px;
}