:root
{
	--color-link1: #adf;
	--color-link2: #d5eeff;
	--shadow-link: 1.5px 1.5px 0.5px #248;
	
	--color-primarytext: #ffabd2;
	--color-sectionbg: #5b2060;
	--color-sectionborder: #c4963f;
	--color-yellowtext: gold;
	--color-iconglow: lightpink;
	--shadow-primary: 1.5px 1.5px 0.5px #713272;
	--image-background: url('https://magicalmary.thex.site/bg_dark.png');
}

@media (prefers-color-scheme: light)	/* Light theme alterations */
{
	:root
	{
		--color-link1: #257;
		--color-link2: #5d6677;
		--shadow-link: 0 0 0 0 transparent;
		
		--color-primarytext: #a40a52;
		--color-sectionbg: #dd82be;
		--color-sectionborder: #ac52b9;
		--color-yellowtext: #b9deff;
		--color-iconglow: #8348;
		--shadow-primary: unset;
		--image-background: url('https://magicalmary.thex.site/bg_light.png');
	}
}

/* Merged from common.css. */
::selection	/* Selected content. I prefer macOS's look for selections. */
{
	background-color: rgba(255, 169, 129, 0.5);
	/*color: white;*/
}
:focus
{
	background-color: rgba(128, 192, 255, 0.25);
	outline: rgba(255, 160, 128, 0.33) auto 5px;
}

a { transition: color 0.25s; text-shadow: 1.5px 1.5px 0.5px #248; }
a, a:focus, a:active, a:visited { color: var(--color-link1) }
a:hover { color: var(--color-link2) }

iframe
{
	border: none !important;
	border-width: 0px;
}

/* Page content */
h1, h2, h3, h4, h5, h6
{
	margin: 5px 4px 0 4px;
}
p
{
	margin: 6.5px 4px 3px 4px;
}
code
{
	color: #cf8;
	background-color: rgba(221, 255, 187, 0.5);
	font-size: large;
	text-shadow: 1.5px 1.5px 0.5px #482 !important;
	border-radius: 5px;
	word-wrap: break-word;
}

table
{
	position: relative;
	left: 12.5%;
	width: 75%;
	background-color: rgba(255,255,255,0.13);
}
table, th, td
{
	border: 1px solid rgba(255,255,255,0.33);
}
th
{
	background-color: rgba(224,108,48,0.66);
}
tr
{
	background-color: rgba(48,108,224,0.5);
}
td
{
	max-width: 0;
}

@media screen and (max-width: 749px)
{
	table { width: 100% !important; left: 0% !important; }
}


/* From page_standard.css. Defines how the page content looks, minus links, tables, and links (which are above). */
body
{
	color: var(--color-primarytext);
	font-family: 'Sniglet', 'MV Boli', 'Kristen ITC', cursive;
	text-shadow: var(--shadow-primary);
	background-image: var(--image-background) !important;
	overflow-x:hidden;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-color: black;
	margin: 0;
}

:focus
{
	background-color: rgba(224, 192, 255, 0.25);
	outline: rgba(255, 255, 255, 0.33) auto 5px;
}

@media screen	/* If on a screen, move the page down for the navbar. */
{
	.page
	{
		position: relative;
		top: 62px;
	}
}
.header
{
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	padding: calc(100% - 95%) 0;
	vertical-align: middle;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: 'Sniglet', 'MV Boli', 'Kristen ITC', cursive;
	font-weight: bold;
	text-transform: small-caps;
	font-size: 48pt;
	z-index: -1;
	cursor: default;
	user-select: none;
}
.header-divider
{
	width: calc(100% - 4px);
	height: 8px;
	border: 2px solid;
	position: relative;
	top: -4px;
	border-top-color: #e74;
	background-color: #a30;
	border-left-color: #c52;
	border-right-color: #c52;
	border-bottom-color: #620
}

.wrapper	/* Wrappers are the invisible containers that define the margins around the content-boxes. */
{
	width: 75%;
    position: relative;
    left: 12.5%;
}
.wrapper-topcontent
{
	width: 100%;
	height: 320px;
	display: flex;
}
.wrapper-mod
{
	width: 100%;
	display: flex;
}
.game-content, .game-content-half, .game-content-quarter, .game-content-threequarters, .game-center-content	/* These are the visible boxes that contain page content. */
{
	background-color: var(--color-sectionbg);
	border: 1px solid var(--color-sectionborder);
	border-radius: 1em;
}
.game-content { margin: 3px 6px; }
.game-content-quarter, .game-content-half, .game-content-threequarters { margin: 0.065em 0.13em; }
.game-content-half
{
	width: 50%;
	height: 100%;
	font-size: 119%;
}
.game-content-quarter { width: 25%; }
.game-content-threequarters { width: 75%; }
.game-center-content { background: transparent; border: 0; }	/* Centered content is only for the screenshots section, so it has no background. */
.section-title
{
	font-family: 'Sniglet', 'MV Boli', 'Kristen ITC', cursive;
	font-weight: bold;
	font-size: 32pt;
}

.center, .header, .section-title, .download-icon, .button, .screenshot, p.desclist	/* This replaces the deprecated "center" HTML element. */
{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

.desclist
{
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 20px;
}

li.step { display: inline-block; }
li.step:before { content: "• "; }
img.inline-left
{
	opacity: 0.75;
	border: 1px solid rgba(128,128,128,0.5);
	box-shadow: 0 0 2px white;
	float: left;
}

.screenshot
{
	width: auto;
	height: 200px;
	margin: 0 2px;	/* Unsure of what's causing vertical margins, so let's pad it out sideways to match. */
}
.mod-image
{
	max-width: 300px;
	width: 100%;
}
.download-icon
{
	width: 20%;
	padding: 2.25%;
	display: inline-block;
	font-weight: bold;
	font-family: 'Sniglet';
	font-size: 26pt;
	filter: drop-shadow(0 0 0.5em var(--color-iconglow));
}
.download-labels
{
	background-color: rgba(192,128,255,0.5);
}
.dl-icon-updated
{
	font-weight: unset;
}

.button
{
	display: block;
	background-color: orchid;
	width: max-content;
	padding: 0.5em 1em;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	text-shadow: 1.5px 1.5px 0.5px #713272;
	font-family: 'Roboto Slab';
	filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.button:hover, .button:active
{
	color: #ffc;
	background-color: #f9e;
}

.footer
{
	padding: 0.5em 1em;
	text-align: center;
	background-color: rgba(64,32,56,0.34);
	border: 1px solid rgba(64,32,56,0.5);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: white;
	border-radius: 5px;
	color: white !important;
}

summary	/* FAQ section headers */
{
	text-align: center;
	color: var(--color-yellowtext);
	font-size: larger;
	margin: 0.5em 0;
}

font.yellowtext
{
	color: var(--color-yellowtext);
}

@media screen and (max-width: 850px)
{
	.wrapper { width: 100%; left: 0%; }
	.wrapper-topcontent, .wrapper-mod { width: 100%; display: block; height: auto; }
	.game-content-quarter, .game-content-half, .game-content-threequarters { width: 100%; height: auto; margin: 0.13em 0; font-size: 100%; }
	.button { width: unset; }
}
@media screen and (max-width: 1600px)
{
	.game-content-half { font-size: 100%; }
	.screenshot { width: 32% !important; height: auto !important; }
	.download-icon { font-size: 16pt; }
}
@media screen and (max-width: 1200px)
{
	.game-content-half { font-size: 85%; }
	.screenshot { width: 32% !important; height: auto !important; }
	.download-icon { font-size: 16pt; }
}
@media screen and (max-width: 1000px)
{
	.download-icon { width: 19.75%; font-size: 12pt; }
}

@media screen and (max-width: 649px)	/* Smaller screens and mobile */
{
	.header { font-size: 36pt; }
}