:root
{
	--color-primarytext: #fbbdff;
	--color-sectionbg: #602C57;
	--color-sectionborder: #b163a4;
	--color-yellowtext: gold;
	--color-iconglow: lightpink;
	--shadow-primary: 1.5px 1.5px 0.5px #713272;
	--image-background: url('https://magicalmary.thex.site/bg_dark.png');
}

@media (prefers-color-scheme: light)	/* Light theme alterations */
{
	:root
	{
		--color-primarytext: #722f77;
		--color-sectionbg: #ead;
		--color-sectionborder: #b7a;
		--color-yellowtext: #8f6d1d;
		--color-iconglow: lightpink;
		--color-iconglow: #736;
		--shadow-primary: unset;
		--image-background: url('https://magicalmary.thex.site/bg_light.png');
	}
}


body
{
	color: var(--color-primarytext);
	text-shadow: var(--shadow-primary);
	background-image: var(--image-background) !important;
}

:focus
{
	background-color: rgba(224, 192, 255, 0.25);
	outline: rgba(255, 255, 255, 0.33) auto 5px;
}

@media screen	/* If on a screen, move the page down for the navbar. */
{
	.page
	{
		position: relative;
		top: 62px;
	}
}
.header
{
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	padding: calc(100% - 95%) 0;
	vertical-align: middle;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: 'Roboto Slab', serif;
	font-size: 48pt;
	z-index: -1;
	cursor: default;
	user-select: none;
}
.header-divider
{
	width: calc(100% - 4px);
	height: 8px;
	border: 2px solid;
	position: relative;
	top: -4px;
	border-top-color: #e74;
	background-color: #a30;
	border-left-color: #c52;
	border-right-color: #c52;
	border-bottom-color: #620
}

.wrapper
{
	width: 75%;
    position: relative;
    left: 12.5%;
}
.wrapper-topcontent
{
	width: 100%;
	height: 320px;
	display: flex;
}
.wrapper-mod
{
	width: 100%;
	display: flex;
}
.content, .content-half, .content-quarter, .content-threequarters, .center-content
{
	background-color: var(--color-sectionbg);
	border: 1px solid var(--color-sectionborder);
	border-radius: 1em;
}
.content { margin: 3px 6px; }
.content-quarter, .content-half, .content-threequarters { margin: 0.065em 0.13em; }
.content-half
{
	width: 50%;
	height: 100%;
	font-size: 119%;
}
.content-quarter { width: 25%; }
.content-threequarters { width: 75%; }
.center-content { background: transparent; border: 0; }	/* Centered content is only for the screenshots section, so it has no background. */
.section-title
{
	font-family: 'Roboto Slab', serif;
	font-size: 32pt;
}

.center, .header, .section-title, .download-icon, .button, .screenshot, p.desclist	/* This replaces the deprecated "center" HTML element. */
{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

.desclist
{
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 20px;
}

li.step { display: inline-block; }
li.step:before { content: "• "; }
img.inline-left
{
	opacity: 0.75;
	border: 1px solid rgba(128,128,128,0.5);
	box-shadow: 0 0 2px white;
	float: left;
}

.screenshot
{
	width: auto;
	height: 200px;
	margin: 0 2px;	/* Unsure of what's causing vertical margins, so let's pad it out sideways to match. */
}
.mod-image
{
	max-width: 300px;
	width: 100%;
}
.download-icon
{
	width: 20%;
	padding: 2.25%;
	display: inline-block;
	font-family: 'Roboto Slab';
	font-size: 26pt;
	filter: drop-shadow(0 0 0.5em var(--color-iconglow));
}
.download-labels
{
	background-color: rgba(192,128,255,0.5);
}

.button
{
	display: block;
	background-color: orchid;
	width: max-content;
	padding: 0.5em 1em;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	text-shadow: 1.5px 1.5px 0.5px #713272;
	font-family: 'Roboto Slab';
	filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.button:hover, .button:active
{
	color: #ffc;
	background-color: #f9e;
}

.footer
{
	padding: 0.5em 1em;
	text-align: center;
	background-color: rgba(64,32,56,0.34);
	border: 1px solid rgba(64,32,56,0.5);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: white;
	border-radius: 5px;
	color: white !important;
}

summary	/* Security warning section header */
{
	text-align: center;
	color: var(--color-yellowtext);
	font-size: larger;
	margin: 0.5em 0;
}

@media screen and (max-width: 850px)
{
	.wrapper { width: 100%; left: 0%; }
	.wrapper-topcontent, .wrapper-mod { width: 100%; display: block; height: auto; }
	.content-quarter, .content-half, .content-threequarters { width: 100%; height: auto; margin: 0.13em 0; font-size: 100%; }
	.button { width: unset; }
}
@media screen and (max-width: 1600px)
{
	.content-half { font-size: 100%; }
	.screenshot { width: 32% !important; height: auto !important; }
	.download-icon { font-size: 16pt; }
}
@media screen and (max-width: 1200px)
{
	.content-half { font-size: 85%; }
	.screenshot { width: 32% !important; height: auto !important; }
	.download-icon { font-size: 16pt; }
}
@media screen and (max-width: 1000px)
{
	.download-icon { width: 19.75%; font-size: 12pt; }
}

@media screen and (max-width: 649px)	/* Smaller screens and mobile */
{
	.header { font-size: 36pt; }
}