.wrapper
{
	width: 66%;
    position: relative;
    left: 17%;
}
.content
{
	background-color: rgba(96,96,96,0.9);
	border: 1px solid rgba(192,192,192,0.65);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
.footer
{
	padding: 0.5em 1em;
	text-align: center;
	background-color: rgba(32,32,32,0.34);
	border: 1px solid rgba(64,64,64,0.5);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: white;
	border-radius: 5px;
	color: white !important;
}
img.inline-left
{
	opacity: 0.75;
	border: 1px solid rgba(128,128,128,0.5);
	box-shadow: 0 0 2px white;
	float: left;
}
@media screen	/* If on a screen, move the page down for the navbar. */
{
	.wrapper
	{
		position: relative;
		top: 62px;
	}
}
@media screen and (max-width: 749px)
{
	.wrapper { width: 100%; left: 0%; }
}