body
{
	color: #fbbdff;
	text-shadow: 1.5px 1.5px 0.5px #713272;
}

@media screen	/* If on a screen, move the page down for the navbar. */
{
	.page
	{
		position: relative;
		top: 62px;
	}
}
.header
{
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	padding: calc(100% - 90%) 0;
	vertical-align: middle;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: 'Roboto Slab', serif;
	font-size: 48pt;
	z-index: -1;
	cursor: default;
	user-select: none;
}
noscript
{
	position: relative;
	top: 48px;
	padding: 3px 3px 3px 2em;
	margin-top: 1.6em;
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	user-select: none;
}
.header-divider
{
	width: calc(100% - 4px);
	height: 8px;
	border: 2px solid;
	position: relative;
	top: -4px;
	border-top-color: #e74;
	background-color: #a30;
	border-left-color: #c52;
	border-right-color: #c52;
	border-bottom-color: #620
}

.wrapper
{
	width: 75%;
    position: relative;
    left: 12.5%;
}
.wrapper-topcontent
{
	width: 100%;
	height: 320px;
	display: flex;
}
.wrapper-mod
{
	width: 100%;
	display: flex;
}
.content, .content-half, .content-quarter, .content-threequarters .div class="center"-content
{
	background-color: rgba(192,144,184,0.5);
	border: 1px solid rgba(192,144,184,0.65);
	border-radius: 0.33em;
}
.content { margin: 3px 6px; }
.content-quarter, .content-half, .content-threequarters { margin: 0.065em 0.13em; }
.content-half
{
	width: 50%;
	height: 100%;
	font-size: 119%;
}
.content-quarter { width: 25%; }
.content-threequarters { width: 75%; }
.section-title
{
	font-family: 'Roboto Slab';
	font-size: 32pt;
}

.div class="center" .header .section-title .download-icon
{
	text-align:div class="center";
	margin-left:auto;
	margin-right:auto;
}

li.step { display: inline-block; }
li.step:before { content: "• "; }
img.inline-left
{
	opacity: 0.75;
	border: 1px solid rgba(128,128,128,0.5);
	box-shadow: 0 0 2px white;
	float: left;
}

.screenshot
{
	width: 320px;
	height: 200px;
}
.mod-image
{
	max-width: 300px;
	width: 100%;
}
.download-icon
{
	width: 20%;
	padding: 2.25%;
	display: inline-block;
	font-family: 'Roboto Slab';
	font-size: 26pt;
}
.download-labels
{
	background-color: rgba(192,128,255,0.5);
}

.footer
{
	padding: 0.5em 1em;
	text-align: center;
	background-color: rgba(64,32,56,0.34);
	border: 1px solid rgba(64,32,56,0.5);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: white;
	border-radius: 5px;
	color: white !important;
}

summary	/* Security warning section header */
{
	text-align: center;
	color: gold;
	font-size: larger;
	margin: 0.5em 0;
}

@media screen and (max-width: 850px)
{
	.wrapper { width: 100%; left: 0%; }
	.wrapper-topcontent, .wrapper-mod { width: 100%; display: block; height: auto; }
	.content-quarter, .content-half, .content-threequarters { width: 100%; height: auto; margin: 0.13em 0; font-size: 100%; }
}
@media screen and (max-width: 1525px)
{
	.content-half { font-size: 100%; }
	.screenshot { width: 32% !important; height: auto !important; }
	.download-icon { font-size: 16pt; }
}
@media screen and (max-width: 1200px)
{
	.content-half { font-size: 85%; }
	.screenshot { width: 32% !important; height: auto !important; }
	.download-icon { font-size: 16pt; }
}
@media screen and (max-width: 1000px)
{
	.download-icon { width: 19.75%; font-size: 12pt; }
}

@media screen and (max-width: 649px)	/* Smaller screens and mobile */
{
	.header { font-size: 36pt; }
}