@media screen	/* If on a screen, move the page down for the navbar. */
{
	.page
	{
		position: relative;
		top: 62px;
	}
}

body
{
	background-size: 100% 75%;
	background-position: bottom;
}

.header
{
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	padding: 3em 0;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 48pt;
	z-index: -1;
	cursor: default;
	user-select: none;
	border-bottom: #941 6px ridge;
	margin-bottom: 5px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
.gradient
{
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.825));
	width: 100%;
	height: 128px;
	position: absolute;
	top: 256px;
	display: flex;
	align-items: center;
}
.title
{
	font-family: 'Roboto Slab', serif;
	font-size: xx-large;
	color: white;
}
.description
{
	padding-top: 5px;
	font-size: small;
	color: white;
}

/* These are the sides of the header's gradient area. Change this to affect all video pages. */
td.left-side { width: 90%; padding-left: 1em; }
td.right-side { width: 10%; padding-right: 1em; }
	
.header-divider
{
	width: calc(100% - 4px);
	height: 8px;
	border: 2px solid;
	position: relative;
	top: 52px;
	border-top-color: #e74;
	background-color: #a30;
	border-left-color: #c52;
	border-right-color: #c52;
	border-bottom-color: #620
}

.wrapper
{
	width: 100%;
}
.content
{
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
.footer
{
	padding: 0.5em 1em;
	text-align: center;
	background-color: rgba(32,32,32,0.34);
	border: 1px solid rgba(64,64,64,0.5);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	color: white;
	border-radius: 5px;
	color: white !important;
}
img.inline-left
{
	opacity: 0.75;
	border: 1px solid rgba(128,128,128,0.5);
	box-shadow: 0 0 2px white;
	float: left;
}
.center	/* This centers the video player, at least. */
{
	position: relative;
	left: 25%;
	text-align: center;
}
h1, h2, h3, h4, h5, h6
{
	background: -webkit-linear-gradient(top,#f1d6b3,#a0632e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 0 0 transparent !important;
	filter: drop-shadow(1.5px 1.5px 0.5px #842);
}

table, tr, td	/* Tables are transparent and full-sized on video pages. */
{
	position: unset !important;
	width: 100%;
	background-color: transparent;
	border: 0 transparent;
	max-width: unset;
}

@media screen and (max-width: 899px)	/* Fix the broken-looking page on smaller screens. */
{
	video { width: 100%; height: auto; }
	.header { padding: 1.5em 0; }
	.gradient { height: 64px; top: 128px; align-items: flex-end; }
	td.left-side { width: 100%; }
	td.right-side { display: none; width: 0%; }
	.title { font-size: large; }
	.description { display: none; }
}