/* This CSS file is for the iframe-powered page content only. */
body
{
	color: #fc8;
	text-shadow: 1.5px 1.5px 0.5px #842;
	padding: 0.5em 1.25em 0.25em 1em;
	margin: 0px;
	overflow-x:hidden;
}
a { transition: color 0.25s; text-shadow: 1.5px 1.5px 0.5px #248; }
a, a:focus, a:active, a:visited { color: #adf; }
a:hover { color: #d5eeff; }

h1, h2, h3, h4, h5, h6
{
	padding: 0.25em 0;
	margin: 0 0;
}
p
{
	margin-top: 0.75em;
	margin-bottom: 0em;
}
code
{
	color: #cf8;
	background-color: rgba(221, 255, 187, 0.5);
	font-size: large;
	text-shadow: 1.5px 1.5px 0.5px #482 !important;
	border-radius: 5px;
}

img.inline-left
{
	opacity: 0.75;
	border: 1px solid rgba(128,128,128,0.5);
	box-shadow: -2px -2px 0 white;
	filter: drop-shadow(2px 2px 0 black);
	float: left;
	position: relative;
	left: -4px;
}